@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
background-color: #050505;
color: white;
}

.textbox{
  background: none;
  border-bottom: 1px solid;
  padding-top: 20px;
  color: #B1B1B1;
  font-size: 1em;
  width: 100%;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.textbox::placeholder {
  font-size: 0.7em;
  letter-spacing: 0.2em;
}

.main-button-gradient {
  background: linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%);
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 2.5px 4px 0px rgba(0, 0, 0, 0.15);
}

input:focus{
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}

.comments {
  overflow:hidden;
  white-space:nowrap;
  display:inline-block;
  text-overflow:ellipsis;

}

button:active {
  background-color: rgba(61, 61, 61, 0.30);
}

.gradient-text {
  background: linear-gradient(96deg, #FFF 5.01%, #757575 98.91%);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
}

.metallic-gradient {
  background: linear-gradient(92deg, #999 -4.6%, #616161 5.26%, #323232 15.12%, #818181 24.98%, #E7E7E7 34.84%, #848484 44.7%, #474747 54.56%, #C2C2C2 64.42%, #FFF 74.27%, #242424 84.75%, #B7B7B7 93.99%);
}

.workout-gradient-text {
  background: linear-gradient(96deg, #FFF 5.01%, #757575 98.91%);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
}

.main-gradient-text {
  display: inline-block;
  color: transparent;
  background: linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%);
  background-clip: text;
  -webkit-background-clip: text;
}

.workout-gradient-button {
  background: linear-gradient(96deg, #FFF 5.01%, #757575 98.91%);
}

.workout-gradient-text {
  background: linear-gradient(96deg, #FFF 5.01%, #757575 98.91%);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
}

.main-gradient-text {
  display: inline-block;
  color: transparent;
  background: linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%);
  background-clip: text;
  -webkit-background-clip: text;
}

.continueButton {
  position: fixed;
  bottom: 2em;
  border-radius: 12px;
  width: 90%;
  padding: 14px 10px;
  font-weight: 600;
  color: #000000;
}

.line {
  border: 1px solid white;
  width: 90%;
  height: 0px;
}

.multichoice{
  border-radius: 12px;
  background: rgba(61, 61, 61, 0.30);
  padding: 1em 0;
  color: #D6B6F0;
  margin: 0.6em 0;
  font-size: 18px;

}

.main-cta {
  background-color: rgba(61, 61, 61, 0.30);
  border-radius: 12px;
  border: 0.5px solid #444;
  height: 3em;
  font-size: 1.5em;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.main-stat {
  height: 5em;
  background-color: rgba(61, 61, 61, 0.30);
  padding: 0.5em;
  text-align: center;
}
.tags span {
  /* border: 0.5px solid; */
  border-radius: 6px;
  letter-spacing: 1px;
}
.main-stat h4{
  color: var(--Light-gray, #B1B1B1);
  font-size: 8px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main-stat span {
  font-size: 1.5rem;
  line-height: 2rem;
}

.main-section {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  padding: 0.5em;
  width: 358px;
  height: 98px;
  border-radius: 12px;
  margin: 1em 0;
}

