@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Lato:ital,wght@1,300&family=Nunito:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #050505;
  color: white;
}

.textbox {
  background: none;
  border-bottom: 1px solid;
  padding-top: 20px;
  color: #B1B1B1;
  font-size: 1em;
  width: 100%;
}

.textbox-text {
  padding-top: 10px;
  color: #B1B1B1;
  width: 100%;
  font-size: 0.7em;
  letter-spacing: 0.2em;
}

.textbox-questionnaire{
  padding-top: 10px;
  background: none;
  border-bottom: 1px solid;
  color: #B1B1B1;
  font-size: 1em;
  width: 100%;
}
.textbox-text-questionnaire{
  color: #B1B1B1;
  width: 100%;
  font-size: 0.7em;
  letter-spacing: 0.2em;
}

.textbox-questionnaire::placeholder {
  font-size: 0.7em;
  letter-spacing: 0.2em;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.textbox::placeholder {
  font-size: 0.7em;
  letter-spacing: 0.2em;
}

.main-button-gradient {
  background: linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%);
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 2.5px 4px 0px rgba(0, 0, 0, 0.15);
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.glow-green {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(155, 242, 192, .4);
}

.glow-purple {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(214, 182, 240, .4);
}

.comments {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;

}


.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../public/assets/achievements-bg.png');
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(2px);

  }
}


.perfect-week {
  height: 18px;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 0.5px solid #9D8956;
  background: linear-gradient(107deg, #F4EBB1 4.32%, #CAAB5C 22.9%, #F4EBB2 42.85%, #CBAD5E 62.54%, #F2E8AE 85.59%, #C2982C 115.29%);
}

.achievements-bg {
  background-image: url('../public/assets/elipse.svg');
  fill: #F07DF3;
  opacity: 0.7;
  mix-blend-mode: plus-lighter;
  filter: blur(17px);
}

button:active {
  background-color: rgba(61, 61, 61, 0.30);
}

.counter {
  font-family: 'Anton', sans-serif;
}

.gradient-text {
  background: linear-gradient(96deg, #FFF 5.01%, #757575 98.91%);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
}

.metallic-gradient {
  background: linear-gradient(92deg, #999 -4.6%, #616161 5.26%, #323232 15.12%, #818181 24.98%, #E7E7E7 34.84%, #848484 44.7%, #474747 54.56%, #C2C2C2 64.42%, #FFF 74.27%, #242424 84.75%, #B7B7B7 93.99%);
}

.timeline-tags span {
  border-radius: 4px;
  border: 0.5px solid var(--New-Gray, rgba(255, 255, 255, 0.23));
  background: rgba(59, 59, 59, 0.06);
  backdrop-filter: blur(17px);
  letter-spacing: -0.36px;
  padding: 2px 8px;

}

.workout-gradient-text {
  background: linear-gradient(96deg, #FFF 5.01%, #757575 98.91%);
  background-clip: text;
  display: inline-block;
  color: transparent;
}

.purple-gradient {
  background: var(--Gradient-purple, linear-gradient(95deg, #D6B6F0 2.94%, #7E87EF 96.92%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-gradient-text {
  display: inline-block;
  color: transparent;
  background: linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%);
  background-clip: text;
  -webkit-background-clip: text;
}

.workout-gradient-button {
  background: linear-gradient(96deg, #FFF 5.01%, #757575 98.91%);
}

.lifestyle-gradient-button {
  background: var(--Gradient-purple, linear-gradient(95deg, #D6B6F0 2.94%, #848CE9 74.36%));
  /* Button shadow dark */
  box-shadow: 0px 2.5px 4px 0px rgba(0, 0, 0, 0.15), 0px 14px 14px 0px rgba(0, 0, 0, 0.09);
}

.marketplace-gradient-button {
  background: var(--Gradient-purple, linear-gradient(95deg, #D6B6F0 2.94%, #848CE9 74.36%));
}

.main-gradient-text {
  display: inline-block;
  color: transparent;
  background: linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%);
  background-clip: text;
  -webkit-background-clip: text;
}

.continueButton {
  position: fixed;
  bottom: 2em;
  border-radius: 12px;
  width: 90%;
  padding: 14px 10px;
  font-weight: 600;
  color: #000000;
}

.line {
  border: 1px solid white;
  width: 90%;
  height: 0px;
}

.multichoice {
  border-radius: 12px;
  background: rgba(61, 61, 61, 0.30);
  padding: 1em 0;
  color: #D6B6F0;
  margin: 0.6em 0;
  font-size: 18px;

}

.main-cta {
  background-color: rgba(61, 61, 61, 0.30);
  border-radius: 12px;
  border: 0.5px solid #444;
  height: 3em;
  font-size: 1.5em;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  flex: 0 0 auto;
}

.main-stat {
  height: 5em;
  background-color: rgba(61, 61, 61, 0.30);
  padding: 0.5em;
  text-align: center;
}

.tags span {
  border-radius: 6px;
  /* font-size: 0.75rem; */
  line-height: 1rem;
  font-weight: 600;
}

.main-stat h4 {
  color: var(--Light-gray, #B1B1B1);
  font-size: 8px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main-stat span {
  font-size: 1.5rem;
  line-height: 2rem;
}

.main-section {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  padding: 0.5em;
  width: 358px;
  height: 98px;
  border-radius: 12px;
  margin: 1em 0;
}

.payment-history {
  border-radius: 24px;
  border: 0.5px solid rgba(255, 255, 255, 0.40);
  background: rgba(95, 95, 95, 0.30);
  background-blend-mode: luminosity;
  backdrop-filter: blur(37.5px);
}

.profile-heading {
  background: var(--Green-purple-gradient, linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-program-pw {
  border-radius: 4px;
  border: 0.5px solid #9D8956;
  background: linear-gradient(107deg, #F4EBB1 4.32%, #CAAB5C 22.9%, #F4EBB2 42.85%, #CBAD5E 62.54%, #F2E8AE 85.59%, #C2982C 115.29%);
}

.profile-program-box {
  border-radius: 12px;
  border: 0.5px solid #383838;
  background: linear-gradient(180deg, #171717 0%, #0F0F0F 100%);
}

.profile-program-heading {
  background: linear-gradient(74deg, #999 -132.76%, #616161 -107.92%, #323232 -83.07%, #818181 -58.23%, #E7E7E7 -33.39%, #848484 -8.55%, #474747 16.3%, #C2C2C2 41.14%, #FFF 65.98%, #242424 92.38%, #B7B7B7 115.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leaderboard-gradient-text {
  background: var(--Gradient-purple, linear-gradient(95deg, #D6B6F0 2.94%, #7E87EF 96.92%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leaderboard-user-list-item {
  border-radius: 12px;
  border: 1.5px solid var(--Light-purple, #D6B6F0);
  background: rgba(61, 61, 61, 0.30);
  mix-blend-mode: screen;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Just a little test for a project */
.countdown__wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: content-fit;
}

.countdown {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 0 0 auto;
  text-align: center;

  &:after {
    display: block;
    width: 100%;
    text-align: center;
    content: "";
    padding: 1rem;
  }
}

.countdown .countdown__box {
  box-sizing: border-box;
  overflow: hidden;
  height: 8rem;

  /* border-radius: 0.2rem; */
  /* border: 1px solid black; */
  /* width: calc(50% - 1px); */
  color: white;
  /* background-color: black; */
  /* box-shadow: 0 5px 10px 2px rgba(black, 0.1); */

  /* &:first-child {
    margin-left: 40px;
  } */

  /* &:last-child {
    margin-right: 35px;
  } */
}

.countdown__inner span {
  display: block;
  width: 100%;
  height: 8rem;
  font-size: 4rem;
  font-family: 'Anton', sans-serif;
  background: linear-gradient(180deg, #FFF 0%, #D6B6F0 100%);
  -webkit-background-clip: text;
  /* WebKit/Blink browsers */
  background-clip: text;
  color: transparent;
  /* Make the text transparent so that the gradient shows through */
  line-height: 1;
  padding: 2rem 0.5rem;
  /* background-image: linear-gradient(to bottom, rgba(white, 0.2), black); */
}

.countdown__seconds .countdown__box:not(:last-child):nth-child(1) .countdown__inner> :not(:only-child) {
  --base-duration: 3s;
  --index: 0;
  animation-name: a-countdown-6;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* Calculate animation duration based on child index */
  animation-duration: calc(var(--base-duration) - (var(--index) * 0.5s));
  /* Adjust the factor as needed */
}

.countdown__seconds .countdown__box:not(:last-child):nth-child(2) .countdown__inner> :not(:only-child) {
  --base-duration: 3s;
  --index: 1;
  animation-name: a-countdown-6;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* Calculate animation duration based on child index */
  animation-duration: calc(var(--base-duration) - (var(--index) * 0.5s));
  /* Adjust the factor as needed */
}

.countdown__seconds .countdown__box:not(:last-child):nth-child(3) .countdown__inner> :not(:only-child) {
  --base-duration: 3s;
  --index: 2;
  animation-name: a-countdown-6;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* Calculate animation duration based on child index */
  animation-duration: calc(var(--base-duration) - (var(--index) * 0.5s));
  /* Adjust the factor as needed */
}

.countdown__seconds .countdown__box:not(:last-child):nth-child(4) .countdown__inner> :not(:only-child) {
  --base-duration: 3s;
  --index: 3;
  animation-name: a-countdown-6;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* Calculate animation duration based on child index */
  animation-duration: calc(var(--base-duration) - (var(--index) * 0.5s));
  /* Adjust the factor as needed */
}

.countdown__seconds .countdown__box:not(:last-child):nth-child(5) .countdown__inner> :not(:only-child) {
  --base-duration: 3s;
  --index: 4;
  animation-name: a-countdown-6;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* Calculate animation duration based on child index */
  animation-duration: calc(var(--base-duration) - (var(--index) * 0.5s));
  /* Adjust the factor as needed */
}

.countdown__seconds .countdown__box:not(:last-child):nth-child(6) .countdown__inner> :not(:only-child) {
  --base-duration: 3s;
  --index: 5;
  animation-name: a-countdown-6;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* Calculate animation duration based on child index */
  animation-duration: calc(var(--base-duration) - (var(--index) * 0.5s));
  /* Adjust the factor as needed */
}

.countdown__seconds .countdown__box:last-child .countdown__inner {
  animation-name: a-countdown-10;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

/* The animation logic is created by SaurabhSahu01 :_D */
@keyframes a-countdown-6 {

  0%,
  5% {
    transform: translateY(0);
  }

  95%,
  100% {
    transform: translateY(-8rem);
  }
}

@keyframes a-countdown-10 {

  0%,
  5% {
    transform: translateY(0);
  }

  95%,
  100% {
    transform: translateY(-8rem);
  }
}

/* Components -> WeeklyWorkoutReport.js */
.weekly-workout-consistency {
  width: auto;
  height: 104px;
  border-radius: 12px;
  border: 0.5px solid #383838;
  background: linear-gradient(180deg, #171717 0%, #0F0F0F 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 10px;
}

.weekly-workout-consistency-heading {
  color: var(--Light-gray, #B1B1B1);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.wwc-weeks {
  color: #545454;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 9.333px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.purple-text-gradient {
  background: var(--Gradient-purple, linear-gradient(95deg, #D6B6F0 2.94%, #848CE9 74.36%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wwc-report-indicator {
  display: inline-flex;
  padding: 1.512px 6.049px;
  justify-content: center;
  align-items: center;
  border-radius: 3.024px;
  border: 0.378px solid var(--Red, #FA5757);
}

.wwc-report-text {
  color: var(--Red, #FA5757);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 9.073px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
  letter-spacing: -0.272px;
  text-transform: capitalize;
}

.wwc-score {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 125% */
  background: var(--Green-purple-gradient, linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wwc-suggestion-text {
  color: #545454;

  /* Card body */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 9.333px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wwc-suggested-count {
  background: var(--Green-purple-gradient, linear-gradient(96deg, #9BF2C0 1.49%, #91BDF6 103.49%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wwc-chart-container {
  width: 102px;
  height: 47px;
}

@keyframes barstyle {
  from {
    height: 0px;
  }

  to {
    height: var(--calculated-height);
  }
}

.barStyle {
  animation-name: barstyle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* loader css */
.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #5ECC7B33;
}

.loading svg polyline#front {
  fill: none;
  stroke: #5ECC7B;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.custom-textarea {
  outline: none;
  border: 1px solid #7e87ef;
  box-sizing: border-box;
}

.custom-textarea:focus {
  border: 1px solid #3d3d3d;
}

.custom-textarea::placeholder {
  color: #565656;
}